# Python Algorithmic Trading Cookbook

## Chapter 1: Handling & Manipulating Date, Time & Time Series Data

### This Jupyter Notebook is created using Python version 3.7.2

------------------------------

### Recipe #1:  Creating DateTime objects and modifying its attributes

In [1]:
# Import the necessary module from Python Standard Library
from datetime import datetime

In [2]:
# Create datetime object 

# Approach #1: Create datetime object from the current date & time. 
dt = datetime.now()
print(f'Approach #1: {dt}')

# Approach #2: Create datetime object for 1st January 2021, midnight
dt = datetime(year=2021, month=1, day=1)
print(f'Approach #1: {dt}')


# Note: Your 1st output would differ from the one below.

Approach #1: 2019-11-16 14:35:06.255386
Approach #1: 2021-01-01 00:00:00

In [3]:
# Inspect the attributes of the object
print(f'Year: {dt.year}')
print(f'Month: {dt.month}')
print(f'Day: {dt.day}')
print(f'Hours: {dt.hour}')
print(f'Minutes: {dt.minute}')
print(f'Seconds: {dt.second}')
print(f'Microseconds: {dt.microsecond}')

# Note: Your output would differ from the one below.

Year: 2021
Month: 1
Day: 1
Hours: 0
Minutes: 0
Seconds: 0
Microseconds: 0

In [4]:
# Get the current date
print(f"Today's date: {dt.date()}")
print(f"Current time: {dt.time()}")

Today's date: 2021-01-01
Current time: 00:00:00

------------------------------

### Recipe #2: Creating TimeDelta objects and modifying its attributes.

In [5]:
# Import the necessary module from Python Standard Library
from datetime import timedelta

In [6]:
# Create a timedelta object with a duration of 5days
td = timedelta(days=5)
print(f'Time difference: {td}')

Time difference: 5 days, 0:00:00

In [7]:
# Operations on timedelta objects
td1 = timedelta(days=5)
td2 = timedelta(days=4)

print('Timedelta operations:\n')
print(f'Addition: {td1} + {td2} = {td1 + td2}')
print(f'Subtraction: {td1} - {td2} = {td1 - td2}')
print(f'Multiplication: {td1} * 2.5 = {td1 * 2.5}')

Timedelta operations:

Addition: 5 days, 0:00:00 + 4 days, 0:00:00 = 9 days, 0:00:00
Subtraction: 5 days, 0:00:00 - 4 days, 0:00:00 = 1 day, 0:00:00
Multiplication: 5 days, 0:00:00 * 2.5 = 12 days, 12:00:00

------------------------------

### Recipe #3: DateTime manipulation

Often you want to do operations on a given datetime object, like find end of current candle, or find a date, say 5 days ago.

In [8]:
td1 * 4.5

datetime.timedelta(days=22, seconds=43200)

In [9]:
from datetime import datetime, timedelta

In [10]:
datetime_now = datetime.now()
date_today = datetime_now.date()                # this returns today's date
print(f"Today's Date: {date_today}")

Today's Date: 2019-11-16

In [11]:
# Addition of datetime objects
date_5days_later = date_today + timedelta(days=5)
print(f"Date 5 days later: {date_5days_later}")

Date 5 days later: 2019-11-21

In [12]:
# Subtraction of datetime objects
date_5days_ago = date_today - timedelta(days=5)
print(f"Date 5 days ago: {date_5days_ago}")

Date 5 days ago: 2019-11-11

In [13]:
time_now = datetime_now.time()
print(f"Time now: {time_now}")

Time now: 14:35:06.343899

In [14]:
# Addition of time objects
time_5minutes_later = (datetime_now + timedelta(minutes=5)).time()              # Note: operations are not allowed on time objects, so have to perform on datetime objects and then extract the time
print(f"Time 5 minutes later: {time_5minutes_later}")

Time 5 minutes later: 14:40:06.343899

In [15]:
# Subtraction of time objects
time_5minutes_ago = (datetime_now - timedelta(minutes=5)).time()              # Note: operations are not allowed on time objects, so have to perform on datetime objects and then extract the time
print(f"Time 5 minutes ago: {time_5minutes_ago}")

Time 5 minutes ago: 14:30:06.343899

In [16]:
# Comparison
time_5minutes_ago > time_5minutes_later

False

In [17]:
time_5minutes_ago <= time_5minutes_later

True

In [18]:
date_5days_later >= date_today >= date_5days_ago

True

------------------------------

### Recipe #4: Modify Date Time objects

In [19]:
# Modify the attributes of the object: Change the Date to 1st January 2021

dt = datetime.now().astimezone()
new_dt = dt.replace(year=2021, month=1, day=1)
print(f'1st January 2021: {new_dt}')

# Note: Your output would differ from the one below.

1st January 2021: 2021-01-01 14:35:06.470159+05:30

In [20]:
new_dt = datetime(year=2021, month=1, day=1, hour=dt.hour, minute=dt.minute, second=dt.second, microsecond=dt.microsecond, tzinfo=dt.tzinfo)
print(f'1st January 2021: {new_dt}')

### Recipe #5: Conversion: DateTime & TimeDelta objects to other Python formats

1st January 2021: 2021-01-01 14:35:06.470159+05:30

------------------------------

### Recipe #5: Conversion: DateTime & TimeDelta objects to other Python formats

In [21]:
from datetime import datetime, timedelta

In [22]:
now = datetime.now().astimezone()

In [23]:
now_str = str(now)
print(type(now_str))
print(now_str)

<class 'str'>
2019-11-16 14:35:06.506290+05:30

In [24]:
now_str = now.strftime("%d-%m-%Y %H:%M:%S %Z")
print(now_str)

16-11-2019 14:35:06 IST

In [25]:
# Total seconds in the timedelta object
td = timedelta(days=5)
print(f'Total seconds in 5 days: {td.total_seconds()}')

Total seconds in 5 days: 432000.0

------------------------------

### Recipe #6: Creation: DateTime & TimeDelta objects from other Python formats

In [26]:
from datetime import datetime, timedelta

In [27]:
now_str = '12-11-2019 15:53:39 IST'

In [28]:
now = datetime.strptime(now_str, "%d-%m-%Y %H:%M:%S %Z")
print(now)
print(type(now))

2019-11-12 15:53:39
<class 'datetime.datetime'>

In [29]:
now = datetime.strptime(now_str, "%d-%m-%Y")
print(now)
print(type(now))

# Note: It's expected to have an error below

ValueError: unconverted data remains:  15:53:39 IST

------------------------------

### Recipe #7: DateTime object & Timezones

In [30]:
from datetime import datetime

In [31]:
now_tz_unaware = datetime.now()                   # Timezone naive datetime object
print(now_tz_unaware)

2019-11-16 14:35:13.505357

In [32]:
print(now_tz_unaware.tzinfo)

None

In [33]:
now_tz_aware = datetime.now().astimezone()      # Timezone aware datetime object
print(now_tz_aware)

2019-11-16 14:35:14.175266+05:30

In [34]:
print(now_tz_aware.tzinfo)

IST

In [35]:
# Add timezone information to timezone naive datetime object
new_tz_aware = now_tz_unaware.replace(tzinfo=now_tz_aware.tzinfo)
print(new_tz_aware)
print(new_tz_aware.tzinfo)

2019-11-16 14:35:13.505357+05:30
IST

In [36]:
# Datetime operations cannot be done between timezone naive & timezone aware datatypes
new_tz_aware < now_tz_aware

True

------------------------------

### Recipe #8: Creating Pandas.Dataframe

In [37]:
import pandas
import datetime

In [38]:
# Reading a time-series data (in a form of a list of dict objects) into DataFrame object

# Assume this sample timeseries data, which is typically returned by 3rd party apis for historical data
time_series_data = \
[{'date': datetime.datetime(2019, 11, 13, 9, 0),
  'open': 71.8075,
  'high': 71.845,
  'low': 71.7775,
  'close': 71.7925,
  'volume': 219512},
 {'date': datetime.datetime(2019, 11, 13, 9, 15),
  'open': 71.7925,
  'high': 71.8,
  'low': 71.78,
  'close': 71.7925,
  'volume': 59252},
 {'date': datetime.datetime(2019, 11, 13, 9, 30),
  'open': 71.7925,
  'high': 71.8125,
  'low': 71.76,
  'close': 71.7625,
  'volume': 57187},
 {'date': datetime.datetime(2019, 11, 13, 9, 45),
  'open': 71.76,
  'high': 71.765,
  'low': 71.735,
  'close': 71.7425,
  'volume': 43048}, 
{'date': datetime.datetime(2019, 11, 13, 10, 0),
  'open': 71.7425,
  'high': 71.78,
  'low': 71.7425,
  'close': 71.7775,
  'volume': 45863},
 {'date': datetime.datetime(2019, 11, 13, 10, 15),
  'open': 71.775,
  'high': 71.8225,
  'low': 71.77,
  'close': 71.815,
  'volume': 42460},
 {'date': datetime.datetime(2019, 11, 13, 10, 30),
  'open': 71.815,
  'high': 71.83,
  'low': 71.7775,
  'close': 71.78,
  'volume': 62403},
 {'date': datetime.datetime(2019, 11, 13, 10, 45),
  'open': 71.775,
  'high': 71.7875,
  'low': 71.7475,
  'close': 71.7525,
  'volume': 34090},
 {'date': datetime.datetime(2019, 11, 13, 11, 0),
  'open': 71.7525,
  'high': 71.7825,
  'low': 71.7475,
  'close': 71.7625,
  'volume': 39320},
 {'date': datetime.datetime(2019, 11, 13, 11, 15),
  'open': 71.7625,
  'high': 71.7925,
  'low': 71.76,
  'close': 71.7875,
  'volume': 20190}]

In [39]:
# Create a DataFrame object from time series data
df = pandas.DataFrame(time_series_data)
df

     close                date     high      low     open  volume
0  71.7925 2019-11-13 09:00:00  71.8450  71.7775  71.8075  219512
1  71.7925 2019-11-13 09:15:00  71.8000  71.7800  71.7925   59252
2  71.7625 2019-11-13 09:30:00  71.8125  71.7600  71.7925   57187
3  71.7425 2019-11-13 09:45:00  71.7650  71.7350  71.7600   43048
4  71.7775 2019-11-13 10:00:00  71.7800  71.7425  71.7425   45863
5  71.8150 2019-11-13 10:15:00  71.8225  71.7700  71.7750   42460
6  71.7800 2019-11-13 10:30:00  71.8300  71.7775  71.8150   62403
7  71.7525 2019-11-13 10:45:00  71.7875  71.7475  71.7750   34090
8  71.7625 2019-11-13 11:00:00  71.7825  71.7475  71.7525   39320
9  71.7875 2019-11-13 11:15:00  71.7925  71.7600  71.7625   20190

In [40]:
# Create a DataFrame object from time series data, with columns in specified order
df = pandas.DataFrame(time_series_data, columns=['date', 'open', 'high', 'low', 'close', 'volume'])
df

                 date     open     high      low    close  volume
0 2019-11-13 09:00:00  71.8075  71.8450  71.7775  71.7925  219512
1 2019-11-13 09:15:00  71.7925  71.8000  71.7800  71.7925   59252
2 2019-11-13 09:30:00  71.7925  71.8125  71.7600  71.7625   57187
3 2019-11-13 09:45:00  71.7600  71.7650  71.7350  71.7425   43048
4 2019-11-13 10:00:00  71.7425  71.7800  71.7425  71.7775   45863
5 2019-11-13 10:15:00  71.7750  71.8225  71.7700  71.8150   42460
6 2019-11-13 10:30:00  71.8150  71.8300  71.7775  71.7800   62403
7 2019-11-13 10:45:00  71.7750  71.7875  71.7475  71.7525   34090
8 2019-11-13 11:00:00  71.7525  71.7825  71.7475  71.7625   39320
9 2019-11-13 11:15:00  71.7625  71.7925  71.7600  71.7875   20190

------------------------------

### Recipes 9: Dataframe Manipulation: Rename, Rearrange, Reverse, Extract

In [41]:
# Rename a column name --> Rename column name 'date' to 'timestamp'
df.rename(columns={'date':'timestamp'}, inplace=True)
df

            timestamp     open     high      low    close  volume
0 2019-11-13 09:00:00  71.8075  71.8450  71.7775  71.7925  219512
1 2019-11-13 09:15:00  71.7925  71.8000  71.7800  71.7925   59252
2 2019-11-13 09:30:00  71.7925  71.8125  71.7600  71.7625   57187
3 2019-11-13 09:45:00  71.7600  71.7650  71.7350  71.7425   43048
4 2019-11-13 10:00:00  71.7425  71.7800  71.7425  71.7775   45863
5 2019-11-13 10:15:00  71.7750  71.8225  71.7700  71.8150   42460
6 2019-11-13 10:30:00  71.8150  71.8300  71.7775  71.7800   62403
7 2019-11-13 10:45:00  71.7750  71.7875  71.7475  71.7525   34090
8 2019-11-13 11:00:00  71.7525  71.7825  71.7475  71.7625   39320
9 2019-11-13 11:15:00  71.7625  71.7925  71.7600  71.7875   20190

In [42]:
# Change order of columns --> Let's make it in this order 'volume', 'close', 'timestamp', 'high', 'open', 'low'
df.reindex(columns=['volume', 'close', 'timestamp', 'high', 'open', 'low'])

   volume    close           timestamp     high     open      low
0  219512  71.7925 2019-11-13 09:00:00  71.8450  71.8075  71.7775
1   59252  71.7925 2019-11-13 09:15:00  71.8000  71.7925  71.7800
2   57187  71.7625 2019-11-13 09:30:00  71.8125  71.7925  71.7600
3   43048  71.7425 2019-11-13 09:45:00  71.7650  71.7600  71.7350
4   45863  71.7775 2019-11-13 10:00:00  71.7800  71.7425  71.7425
5   42460  71.8150 2019-11-13 10:15:00  71.8225  71.7750  71.7700
6   62403  71.7800 2019-11-13 10:30:00  71.8300  71.8150  71.7775
7   34090  71.7525 2019-11-13 10:45:00  71.7875  71.7750  71.7475
8   39320  71.7625 2019-11-13 11:00:00  71.7825  71.7525  71.7475
9   20190  71.7875 2019-11-13 11:15:00  71.7925  71.7625  71.7600

In [43]:
# Reverse the rows
df[::-1]

            timestamp     open     high      low    close  volume
9 2019-11-13 11:15:00  71.7625  71.7925  71.7600  71.7875   20190
8 2019-11-13 11:00:00  71.7525  71.7825  71.7475  71.7625   39320
7 2019-11-13 10:45:00  71.7750  71.7875  71.7475  71.7525   34090
6 2019-11-13 10:30:00  71.8150  71.8300  71.7775  71.7800   62403
5 2019-11-13 10:15:00  71.7750  71.8225  71.7700  71.8150   42460
4 2019-11-13 10:00:00  71.7425  71.7800  71.7425  71.7775   45863
3 2019-11-13 09:45:00  71.7600  71.7650  71.7350  71.7425   43048
2 2019-11-13 09:30:00  71.7925  71.8125  71.7600  71.7625   57187
1 2019-11-13 09:15:00  71.7925  71.8000  71.7800  71.7925   59252
0 2019-11-13 09:00:00  71.8075  71.8450  71.7775  71.7925  219512

In [44]:
# Extract a column using column name
df['close']

# Note: type(df['close']) is a pandas.Series object

0    71.7925
1    71.7925
2    71.7625
3    71.7425
4    71.7775
5    71.8150
6    71.7800
7    71.7525
8    71.7625
9    71.7875
Name: close, dtype: float64

In [45]:
# Extract a column using column index
df.iloc[:, 4]

0    71.7925
1    71.7925
2    71.7625
3    71.7425
4    71.7775
5    71.8150
6    71.7800
7    71.7525
8    71.7625
9    71.7875
Name: close, dtype: float64

In [46]:
# Extract a row using index
df.iloc[0]

timestamp    2019-11-13 09:00:00
open                     71.8075
high                      71.845
low                      71.7775
close                    71.7925
volume                    219512
Name: 0, dtype: object

In [47]:
# Extract a subset --> Extract a 2x2 matrix of the first 2 entries of 'timestamp' and 'open' columns
df.iloc[:2, :2]

            timestamp     open
0 2019-11-13 09:00:00  71.8075
1 2019-11-13 09:15:00  71.7925

------------------------------

### Recipes 10: Dataframe Manipulation: Apply, Sort, Concat

In [48]:
# Apply a function on a particular column --> display the datetime column in a different format
df['timestamp'] = df['timestamp'].apply(lambda x: x.strftime("%d-%m-%Y %H:%M:%S"))
df

             timestamp     open     high      low    close  volume
0  13-11-2019 09:00:00  71.8075  71.8450  71.7775  71.7925  219512
1  13-11-2019 09:15:00  71.7925  71.8000  71.7800  71.7925   59252
2  13-11-2019 09:30:00  71.7925  71.8125  71.7600  71.7625   57187
3  13-11-2019 09:45:00  71.7600  71.7650  71.7350  71.7425   43048
4  13-11-2019 10:00:00  71.7425  71.7800  71.7425  71.7775   45863
5  13-11-2019 10:15:00  71.7750  71.8225  71.7700  71.8150   42460
6  13-11-2019 10:30:00  71.8150  71.8300  71.7775  71.7800   62403
7  13-11-2019 10:45:00  71.7750  71.7875  71.7475  71.7525   34090
8  13-11-2019 11:00:00  71.7525  71.7825  71.7475  71.7625   39320
9  13-11-2019 11:15:00  71.7625  71.7925  71.7600  71.7875   20190

In [49]:
# Sort by column name in ascending order
df.sort_values(by='close', ascending=True)    # sort by column 'close' in ascending order

             timestamp     open     high      low    close  volume
3  13-11-2019 09:45:00  71.7600  71.7650  71.7350  71.7425   43048
7  13-11-2019 10:45:00  71.7750  71.7875  71.7475  71.7525   34090
2  13-11-2019 09:30:00  71.7925  71.8125  71.7600  71.7625   57187
8  13-11-2019 11:00:00  71.7525  71.7825  71.7475  71.7625   39320
4  13-11-2019 10:00:00  71.7425  71.7800  71.7425  71.7775   45863
6  13-11-2019 10:30:00  71.8150  71.8300  71.7775  71.7800   62403
9  13-11-2019 11:15:00  71.7625  71.7925  71.7600  71.7875   20190
0  13-11-2019 09:00:00  71.8075  71.8450  71.7775  71.7925  219512
1  13-11-2019 09:15:00  71.7925  71.8000  71.7800  71.7925   59252
5  13-11-2019 10:15:00  71.7750  71.8225  71.7700  71.8150   42460

In [50]:
# Sort by column name in descending order
df.sort_values(by='open', ascending=True)    # sort by column 'open' in descending order

             timestamp     open     high      low    close  volume
4  13-11-2019 10:00:00  71.7425  71.7800  71.7425  71.7775   45863
8  13-11-2019 11:00:00  71.7525  71.7825  71.7475  71.7625   39320
3  13-11-2019 09:45:00  71.7600  71.7650  71.7350  71.7425   43048
9  13-11-2019 11:15:00  71.7625  71.7925  71.7600  71.7875   20190
5  13-11-2019 10:15:00  71.7750  71.8225  71.7700  71.8150   42460
7  13-11-2019 10:45:00  71.7750  71.7875  71.7475  71.7525   34090
1  13-11-2019 09:15:00  71.7925  71.8000  71.7800  71.7925   59252
2  13-11-2019 09:30:00  71.7925  71.8125  71.7600  71.7625   57187
0  13-11-2019 09:00:00  71.8075  71.8450  71.7775  71.7925  219512
6  13-11-2019 10:30:00  71.8150  71.8300  71.7775  71.7800   62403

In [51]:
# Iterate row-wise over all entries of the dataframe
# Example: Get average of open, high, low, close
for _, row in df.iterrows():
    print(f"Index: {_} | Average: {(row['open'] + row['close'] + row['high'] + row['low'])/4}")

Index: 0 | Average: 71.805625
Index: 1 | Average: 71.79124999999999
Index: 2 | Average: 71.781875
Index: 3 | Average: 71.750625
Index: 4 | Average: 71.760625
Index: 5 | Average: 71.795625
Index: 6 | Average: 71.800625
Index: 7 | Average: 71.765625
Index: 8 | Average: 71.76124999999999
Index: 9 | Average: 71.775625

In [52]:
# Iterate row-wise over all entries of the single column
# Example: Get average of open, high, low, close
for close in df.iloc[0]:
    print(close)

13-11-2019 09:00:00
71.8075
71.845
71.7775
71.7925
219512

In [53]:
# Concatenate 2 tables

df_new = pandas.DataFrame([{'timestamp': datetime.datetime(2019, 11, 13, 11, 30),
  'open': 71.7875,
  'high': 71.8075,
  'low': 71.77,
  'close': 71.7925,
  'volume': 18655},
 {'timestamp': datetime.datetime(2019, 11, 13, 11, 45),
  'open': 71.7925,
  'high': 71.805,
  'low': 71.7625,
  'close': 71.7625,
  'volume': 25648},
 {'timestamp': datetime.datetime(2019, 11, 13, 12, 0),
  'open': 71.7625,
  'high': 71.805,
  'low': 71.75,
  'close': 71.785,
  'volume': 37300},
 {'timestamp': datetime.datetime(2019, 11, 13, 12, 15),
  'open': 71.785,
  'high': 71.7925,
  'low': 71.7575,
  'close': 71.7775,
  'volume': 15431},
 {'timestamp': datetime.datetime(2019, 11, 13, 12, 30),
  'open': 71.7775,
  'high': 71.795,
  'low': 71.7725,
  'close': 71.79,
  'volume': 5178}])
df_new

     close     high      low     open           timestamp  volume
0  71.7925  71.8075  71.7700  71.7875 2019-11-13 11:30:00   18655
1  71.7625  71.8050  71.7625  71.7925 2019-11-13 11:45:00   25648
2  71.7850  71.8050  71.7500  71.7625 2019-11-13 12:00:00   37300
3  71.7775  71.7925  71.7575  71.7850 2019-11-13 12:15:00   15431
4  71.7900  71.7950  71.7725  71.7775 2019-11-13 12:30:00    5178

In [54]:
# Concat 2 dataframes with same columns, vertically
pandas.concat([df, df_new], sort=False).reset_index(drop=True)

              timestamp     open     high      low    close  volume
0   13-11-2019 09:00:00  71.8075  71.8450  71.7775  71.7925  219512
1   13-11-2019 09:15:00  71.7925  71.8000  71.7800  71.7925   59252
2   13-11-2019 09:30:00  71.7925  71.8125  71.7600  71.7625   57187
3   13-11-2019 09:45:00  71.7600  71.7650  71.7350  71.7425   43048
4   13-11-2019 10:00:00  71.7425  71.7800  71.7425  71.7775   45863
5   13-11-2019 10:15:00  71.7750  71.8225  71.7700  71.8150   42460
6   13-11-2019 10:30:00  71.8150  71.8300  71.7775  71.7800   62403
7   13-11-2019 10:45:00  71.7750  71.7875  71.7475  71.7525   34090
8   13-11-2019 11:00:00  71.7525  71.7825  71.7475  71.7625   39320
9   13-11-2019 11:15:00  71.7625  71.7925  71.7600  71.7875   20190
10  2019-11-13 11:30:00  71.7875  71.8075  71.7700  71.7925   18655
11  2019-11-13 11:45:00  71.7925  71.8050  71.7625  71.7625   25648
12  2019-11-13 12:00:00  71.7625  71.8050  71.7500  71.7850   37300
13  2019-11-13 12:15:00  71.7850  71.7925  71.7575  71.7775   15431
14  2019-11-13 12:30:00  71.7775  71.7950  71.7725  71.7900    5178

In [55]:
# Concatenate horizontally
import random 

pd1 = pandas.DataFrame([random.randint(1,100) for i in range(10)], columns=['open'])
pd2 = pandas.DataFrame([random.randint(1,100) for i in range(10)], columns=['close'])

pd1

   open
0    33
1    35
2     1
3    85
4    97
5    40
6    64
7    20
8    25
9    77

In [56]:
pd2

   close
0     70
1     32
2     28
3     28
4     50
5      1
6     80
7      7
8     53
9     28

In [57]:
pandas.concat([pd1, pd2], axis=1)

   open  close
0    33     70
1    35     32
2     1     28
3    85     28
4    97     50
5    40      1
6    64     80
7    20      7
8    25     53
9    77     28

------------------------------

### Recipe 11: Conversion: Dataframe to other formats

In [58]:
# Dataframe to csv format
df.to_csv('dataframe.csv', index=False)

In [59]:
# Dataframe to JSON format --> Usecase: transmit data over web APIs
df.to_json()

'{"timestamp":{"0":"13-11-2019 09:00:00","1":"13-11-2019 09:15:00","2":"13-11-2019 09:30:00","3":"13-11-2019 09:45:00","4":"13-11-2019 10:00:00","5":"13-11-2019 10:15:00","6":"13-11-2019 10:30:00","7":"13-11-2019 10:45:00","8":"13-11-2019 11:00:00","9":"13-11-2019 11:15:00"},"open":{"0":71.8075,"1":71.7925,"2":71.7925,"3":71.76,"4":71.7425,"5":71.775,"6":71.815,"7":71.775,"8":71.7525,"9":71.7625},"high":{"0":71.845,"1":71.8,"2":71.8125,"3":71.765,"4":71.78,"5":71.8225,"6":71.83,"7":71.7875,"8":71.7825,"9":71.7925},"low":{"0":71.7775,"1":71.78,"2":71.76,"3":71.735,"4":71.7425,"5":71.77,"6":71.7775,"7":71.7475,"8":71.7475,"9":71.76},"close":{"0":71.7925,"1":71.7925,"2":71.7625,"3":71.7425,"4":71.7775,"5":71.815,"6":71.78,"7":71.7525,"8":71.7625,"9":71.7875},"volume":{"0":219512,"1":59252,"2":57187,"3":43048,"4":45863,"5":42460,"6":62403,"7":34090,"8":39320,"9":20190}}'

In [60]:
# Dataframe to pickle format --> Usecases: Transmit data over zmq sockets, fetch & save data in 1 python session & read in another without fetching
df.to_pickle('df.pickle')

------------------------------

### Recipe 12: Creation: Dataframe from other formats

In [61]:
# Read csv file into DataFrame object
pandas.read_csv('dataframe.csv')

             timestamp     open     high      low    close  volume
0  13-11-2019 09:00:00  71.8075  71.8450  71.7775  71.7925  219512
1  13-11-2019 09:15:00  71.7925  71.8000  71.7800  71.7925   59252
2  13-11-2019 09:30:00  71.7925  71.8125  71.7600  71.7625   57187
3  13-11-2019 09:45:00  71.7600  71.7650  71.7350  71.7425   43048
4  13-11-2019 10:00:00  71.7425  71.7800  71.7425  71.7775   45863
5  13-11-2019 10:15:00  71.7750  71.8225  71.7700  71.8150   42460
6  13-11-2019 10:30:00  71.8150  71.8300  71.7775  71.7800   62403
7  13-11-2019 10:45:00  71.7750  71.7875  71.7475  71.7525   34090
8  13-11-2019 11:00:00  71.7525  71.7825  71.7475  71.7625   39320
9  13-11-2019 11:15:00  71.7625  71.7925  71.7600  71.7875   20190

In [62]:
# Read json text into DataFrame object
pandas.read_json('{"timestamp":{"0":"13-11-2019 09:00:00","1":"13-11-2019 09:15:00","2":"13-11-2019 09:30:00","3":"13-11-2019 09:45:00","4":"13-11-2019 10:00:00","5":"13-11-2019 10:15:00","6":"13-11-2019 10:30:00","7":"13-11-2019 10:45:00","8":"13-11-2019 11:00:00","9":"13-11-2019 11:15:00"},"open":{"0":71.8075,"1":71.7925,"2":71.7925,"3":71.76,"4":71.7425,"5":71.775,"6":71.815,"7":71.775,"8":71.7525,"9":71.7625},"high":{"0":71.845,"1":71.8,"2":71.8125,"3":71.765,"4":71.78,"5":71.8225,"6":71.83,"7":71.7875,"8":71.7825,"9":71.7925},"low":{"0":71.7775,"1":71.78,"2":71.76,"3":71.735,"4":71.7425,"5":71.77,"6":71.7775,"7":71.7475,"8":71.7475,"9":71.76},"close":{"0":71.7925,"1":71.7925,"2":71.7625,"3":71.7425,"4":71.7775,"5":71.815,"6":71.78,"7":71.7525,"8":71.7625,"9":71.7875},"volume":{"0":219512,"1":59252,"2":57187,"3":43048,"4":45863,"5":42460,"6":62403,"7":34090,"8":39320,"9":20190}}')

            timestamp     open     high      low    close  volume
0 2019-11-13 09:00:00  71.8075  71.8450  71.7775  71.7925  219512
1 2019-11-13 09:15:00  71.7925  71.8000  71.7800  71.7925   59252
2 2019-11-13 09:30:00  71.7925  71.8125  71.7600  71.7625   57187
3 2019-11-13 09:45:00  71.7600  71.7650  71.7350  71.7425   43048
4 2019-11-13 10:00:00  71.7425  71.7800  71.7425  71.7775   45863
5 2019-11-13 10:15:00  71.7750  71.8225  71.7700  71.8150   42460
6 2019-11-13 10:30:00  71.8150  71.8300  71.7775  71.7800   62403
7 2019-11-13 10:45:00  71.7750  71.7875  71.7475  71.7525   34090
8 2019-11-13 11:00:00  71.7525  71.7825  71.7475  71.7625   39320
9 2019-11-13 11:15:00  71.7625  71.7925  71.7600  71.7875   20190

In [63]:
# Read pickle file into DataFrame object
pandas.read_pickle('df.pickle')

             timestamp     open     high      low    close  volume
0  13-11-2019 09:00:00  71.8075  71.8450  71.7775  71.7925  219512
1  13-11-2019 09:15:00  71.7925  71.8000  71.7800  71.7925   59252
2  13-11-2019 09:30:00  71.7925  71.8125  71.7600  71.7625   57187
3  13-11-2019 09:45:00  71.7600  71.7650  71.7350  71.7425   43048
4  13-11-2019 10:00:00  71.7425  71.7800  71.7425  71.7775   45863
5  13-11-2019 10:15:00  71.7750  71.8225  71.7700  71.8150   42460
6  13-11-2019 10:30:00  71.8150  71.8300  71.7775  71.7800   62403
7  13-11-2019 10:45:00  71.7750  71.7875  71.7475  71.7525   34090
8  13-11-2019 11:00:00  71.7525  71.7825  71.7475  71.7625   39320
9  13-11-2019 11:15:00  71.7625  71.7925  71.7600  71.7875   20190